.logo img {
  padding: 30px 0;
  width: 100%;
}
.resource-list {
  font-family: Helvetica, Arial, sans-serif;
  font-size: larger;
  padding: 10px;
  text-align: center;
}
.resource-list ul {
    text-align: left;
    margin: 0 auto;
    width: 300px;
}
.resource-list a {
  color: black;
  line-height: 30px;
}
footer {
  bottom: 10px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  text-align: center;
}
footer img {
    width: 20px;
}